
/* @font-face {
    font-family: 'MyFont';
    src: url('./Tolkien.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
  }
   */
body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

#container {
    display: grid;
grid-template-columns: 1fr 6fr 6fr;
grid-template-rows: .5fr 2fr 3fr;
grid-template-areas: 
                    "h h h"
                    "s c c"
                    "t c c";
}

#formSpace {
    grid-area: s;
    display: flex;
    flex-direction: column;
    background-color: #e2e8f0;
    color: #1e293b;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding:.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

}

#header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #f8fafc;
    background-color: #475569;
    padding: .5rem;
}

h2 {
    font-size: 1.8em;
}

.dragger {
    width: 250px;
    height: 30px;
    background-color: #0f172a;
}


.button {
    width: 14rem;
    /* height: 75px; */
    cursor: pointer;
    background-color: #94a3b8;
    color: #0f172a;
    font-weight: 700;
    font-size: 22px;
    border-radius: 40px;
    padding: 9px;
    box-shadow: 0 2px #0f172a;

}

.button:hover {
    background-color: #334155;
    color: #f8fafc;
}


.button:active {
    background-color: #1e293b;
    color: #f8fafc;
    transform: translateY(4px);
}
/* 
.project {
    /* display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #e2e8f0;
    color: #0f172a;
    padding: .5rem;
    gap: 20px */


#projecttitleBar {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    gap: 4rem;
    align-items: center;
    background-color: #e2e8f0;
    color: #1e293b;
}

.titleField {
    font-size: 22px;
    font-weight: 700;
    background-color: #e2e8f0;
    color: #0f172a;
    border-bottom: 1px solid #0f172a;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.3em;
}

.active {
    width: 200px;
    padding: .7rem;
    font-size: 30px;
    font-weight: 700;
    background-color: #f3f5f9;
    color:#0f172a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #0f172a;
    border-radius: 7px;
    text-align: center;
    margin: auto;
    border: 3px solid blue
}

.inactive {
    width: 200px;
    padding: .7rem;
    font-size: 30px;
    font-weight: 700;
    background-color: #334155;
    color:#f8fafc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #0f172a;
    border-radius: 7px;
    text-align: center;
    margin: auto;
}


#display {
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f8fafc;
    color: #0f172a;
    padding: 10px;
    gap: 20px;
}
.card {
    border: 2px solid black;
    background-color: #cbd5e1;
    font-size: 28px;
    font-weight: 600;
    padding: 5px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    height: 200px;
}

.cardBody {
    border: 2px solid red;
    padding: 20px;
    width: 230px;
    height: 180px;
}

.priorityColor {
    width: 150px;
    height: 15px;
    border-radius: 10px;
}

#High {
    background-color: red;
}

#Medium {
    background-color: yellow;
}

#Low {
    background-color: green;
}


#content {
    width: 35rem;
    background-color: #1e293b;
    color: #f8fafc;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
}

.form {
    width: 35rem;
    background-color: #1e293b;
    color: #f8fafc;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
}

.label {
    font-size: 22px;
    font-weight: 700;
    width: 20rem;
    color: #f8fafc;
    padding: 15px;
    gap: 5px;
   background-color: #475569;
    /* background-size: 100% 100%;
    background-position: center center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 40%) 20px 5px 10px, rgb(0 0 0 / 30%) 5px 10px 0px -10px, rgb(0 0 0 / 20%) 6px -5px 18px inset;
}


.text {
    text-align: center;
}

.item, .listItem {
    /* font-family: 'MyFont'; */
    font-size: 22px;
    font-weight: 500;
    width: 15rem;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
   border: 4px solid #1e293b;
   border-radius: 10px;
   background-color: #f8fafc;
}

input[type=text]:focus {
    border: 4px solid #0f172a
  }

#description {
    height: 5rem;
}

.image {
    width: 200px;
}