/* @font-face {
    font-family: 'MyFont';
    src: url('./Tolkien.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
  }
   */
body {
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  min-height: 100%; 
  display: grid;
  grid-template-columns: 1fr 6fr 6fr;
  grid-template-rows: 0.5fr 2fr 3fr;
  grid-template-areas:
    "h h h"
    "s c c"
    "s c c";
}

#formSpace {
  grid-area: s;
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
  color: #1e293b;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

#header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #f8fafc;
  background-color: #475569;
  padding: 0.5rem;
}

h2 {
  font-size: 1.8em;
}

.button {
  width: 14rem;
  cursor: pointer;
  background-color: #94a3b8;
  color: #0f172a;
  font-weight: 700;
  font-size: 22px;
  border-radius: 40px;
  padding: 9px;
  box-shadow: 0 2px #0f172a;
}

.button:hover {
  background-color: #334155;
  color: #f8fafc;
}

.button:active {
  background-color: #1e293b;
  color: #f8fafc;
  transform: translateY(4px);
}

#projecttitleBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  padding-top: 3rem;
  gap: 4rem;
  align-items: center;
  background-color: #e2e8f0;
  color: #1e293b;
}

.projectField {
  font-size: 22px;
  font-weight: 700;
  background-color: #e2e8f0;
  color: #0f172a;
  border-bottom: 1px solid #0f172a;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 0.3em;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  padding: 0.7rem;
  font-size: 26px;
  font-weight: 700;
  background-color: #fcfdfd;
  color: #0f172a;
  box-shadow: rgba(0, 0, 0) 1px 3px 10px;
  border-radius: 7px;
  text-align: center;
  border: 4px solid #475569;
}

.inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  padding: 0.7rem;
  font-size: 26px;
  font-weight: 700;
  background-color: #edf1f5;
  color: #0f172a;
  box-shadow: rgba(0, 0, 0, 0.33) -2px 2px 5px;
  border-radius: 7px;
  text-align: center;
  margin-top: .5rem;
}

.list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 20px;
}

.listColor {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

#display {
  grid-area: c;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, 20rem);
  background-color: #f8fafc;
  color: #0f172a;
  padding: 30px;
  gap: 20px;
}

.card {
  border: 2px solid black;
  background-color: #cbd5e1;
  border-radius: 15px;
  font-size: 28px;
  font-weight: 600;
  padding: 0px 5px 5px 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 300px;
  height: 250px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  pointer-events: visible;

}

.cardComplete {
    opacity: .4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-items: center;
    align-items: center;
    width: 280px;
    padding-top: 25px;
    height: 159px;
    font-size: 26px;
    gap: 2px;
}

.cardBar {
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "p p"
    "b e";
}

.priorityColor {
  grid-area: p;
  width: 292px;
  height: 12px;
  border-radius: 15px;
  border: 2px solid #0f172a;
}

.completeButton {
  grid-area: b;
}

.expandButton {
  grid-area: e
}

.completeexpandButton, .expandButton, .uncompleteButton , .completeButton, .editButton, .hideEditButton, .collapseButton {
  justify-self: center;
  background-color: #fcfdfd;
  color: #0f172a;
  border-radius: 10px;
  width: 8rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 9px;
  border-radius: 40px;
  box-shadow: 0 2px #0f172a;
}

.expandButton:hover, .uncompleteButton:hover, .completeButton:hover, .editButton:hover, .hideEditButton:hover, .collapseButton:hover {
  background-color: #334155;
  color: #f8fafc;
}

.expandButton:active, .uncompleteButton:active, .completeButton:active, .editButton:active, .hideEditButton:active, .collapseButton:active  {
  background-color: #1e293b;
  color: #f8fafc;
  transform: translateY(4px);
}

.expandCard {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 1fr 8fr;
  border: 2px solid black;
  background-color: #cbd5e1;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 600;
  padding: 0px 5px 5px 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: fit-content;
  /* width: 300px;
  height: 250px; */
}

.expandBar {
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "p p"
    "e d";
}

.expandPriority {
  grid-area: p;
  width: auto;
  height: 12px;
  border-radius: 15px;
  border: 2px solid #0f172a;
}

.editPriority {
  grid-area: p;
  width: 90%;
  height: 12px;
  border-radius: 15px;
  border: 3px dashed white;
}

.editButton {
 grid-area: e;
}

.hideEditButton {
  grid-area: e;
 }

.collapseButton {
  grid-area: d;
}

.cardBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: auto;
  justify-items: center;
  align-items: center;
  width: 280px;
  padding-top: 25px;
  height: 159px;
  font-size: 26px;
  gap: 2px;
}

.titleValue {
 flex-grow: 2;
 align-self: center;
 flex-wrap: wrap;
}

.dateValue {
  flex-grow: 2;
}

.trashButton {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  background-color: #fcfdfd;
  color: #0f172a;
  padding: 5px;
  border: 2px solid #0f172a;
  border-radius: 40px;
  box-shadow: 0 2px #0f172a;
}

.trashButton:hover {
  background-color: #cbd5e1;
  color: #f8fafc;
}

.trashButton:active {
  background-color: #475569;
  color: #f8fafc;
  transform: translateY(4px);
}

.expandBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 4fr 4fr 1fr;
  grid-template-areas:
  "t tv"
  "d dv"
  "s sv"
  "n nv"
  "b b";
  gap: 5px;
}

.titleField {
  display:flex;
  justify-content: center;
  width: 10rem;
  grid-area: t;
  align-self: center;
  justify-self: center;
  padding: 5px;
  border-bottom: 1px solid #0f172a;
  padding: 5px;
}

.expandTitle {
  grid-area: tv;
  align-self: center;
  justify-self: flex-start;
  padding: 5px;
}

.dateField {
  grid-area: d;
  display:flex;
  justify-content: center;
  border-bottom: 1px solid #0f172a;
  width: 10rem;
  align-self: center;
  justify-self: center;
  padding: 5px;
}
.expandDate {
  grid-area: dv;
  align-self: center;
  justify-self: flex-start;
  padding: 5px;
}

.descriptionField {
  grid-area: s;
  display:flex;
  justify-content: center;
  width: 10rem;
  align-self: center;
  justify-self: center;
  border-bottom: 1px solid #0f172a;
  padding: 5px;
}
.descriptionValue {
  grid-area: sv;
  align-self: center;
  justify-self: flex-start;
  padding: 5px;
}

.notesField {
  grid-area: n;
  display:flex;
  justify-content: center;
  border-bottom: 1px solid #0f172a;
  width: 10rem;
  align-self: center;
  justify-self: center;
  padding: 5px;
}
.notesValue {
  grid-area: nv;
  align-self: center;
  justify-self: flex-start;
  padding: 5px;
}

.wrenchButton {
  width: 1.3rem;
  background-color: #fcfdfd;
  border: 2px solid black;
  box-shadow: 0 2px #0f172a;
  border-radius: 20px;
  padding: 4px;
  margin-left: 2rem;
}

.trashExpand {
  grid-area: b;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  background-color: #fcfdfd;
  color: #0f172a;
  padding: 5px;
  border-radius: 40px;
  box-shadow: 0 2px #0f172a;
  border: 2px solid #0f172a;
}

.trashExpand:hover, .wrenchButton:hover {
  background-color: #334155;
  color: #f8fafc;
}

.trashExpand:active, .wrenchButton:active {
  background-color: #475569;
  color: #f8fafc;
  transform: translateY(4px);
}


#Urgent {
  background-color: red;
}

#High {
  background-color: orange;
}

#Medium {
  background-color: yellow;
}

#Low {
  background-color: green;
}

#complete {
  background-color: blue;
}

#content {
  position: fixed;
  top: 9vh;
  left: 35vw;
  overflow: auto;
  width: 48rem;
  background-color: #edf1f5;
  color: #f8fafc;
  font-size: 22px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 3fr 4fr 1fr;
  grid-template-areas: 
    "t d"
    "da p"
    "n n"
    "u c";
  gap: 15px;
  padding: 17px 0px 17px 17px;
  border-radius: 30px;
  border: 3px solid #1e293b;
  box-shadow: rgba(0, 0, 0, 1) 5px 6px 10px;
}

.form {
  position: fixed;
  top: 18vh;
  left: 35vw;
  overflow: auto;
  width: 28rem;
  background-color: #edf1f5;
  color: #0f172a;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
  border-radius: 30px;
  border: 3px solid #1e293b;
  box-shadow: rgba(0, 0, 0, 1) 5px 6px 10px;
}

#titleLabel {
  grid-area: t;
}
#descriptionLabel {
  grid-area: d;
}
#dueLabel {
  grid-area: da;
}
#priorityLabel {
  grid-area: p;
}
#notesLabel {
  grid-area: n;
  grid-column: 1/-1;
  width: 45rem;
  flex-direction: row;
}
#undoLabel {
  grid-area: u;
  align-self: center;
  justify-self: center;
}
#submitLabel {
  grid-area: c;
  align-self: center;
  justify-self: center;
}

.label {
  font-size: 22px;
  font-weight: 700;
  width: 20rem;
  color: #0f172a;
  padding: 15px;
  gap: 5px;
  background-color: #e2e8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: rgb(0 0 0 / 50%) -5px -2px 3px,
    rgb(0 0 0 / 30%) 5px 10px 0px -10px, rgb(0 0 0 / 20%) 6px -5px 18px inset;
}

.item,
.listItem {
  font-size: 22px;
  font-weight: 500;
  width: 15rem;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: 4px solid #1e293b;
  background-color: #fcfdfd;
  border-radius: 15px;
  resize: vertical;
  box-sizing:border-box;
  margin: 2rem;
  box-shadow: rgb(0 0 0 / 50%) 2px 3px 3px, rgb(0 0 0 / 20%) -5px 4px 16px inset;
}

input[type="text"]:focus {
  border: 4px solid #0f172a;
}

textarea {
  border: 4px solid #1e293b;
  background-color: #fcfdfd;
  border-radius: 15px;
  resize: vertical;
  box-sizing:border-box;
  box-shadow: rgb(0 0 0 / 50%) 2px 3px 3px, rgb(0 0 0 / 20%) -5px 4px 16px inset;
}

input[type="date"] {
  border: 4px solid #1e293b;
  background-color: #fcfdfd;
  border-radius: 15px;
  margin: 1rem;
  box-shadow: rgb(0 0 0 / 50%) 2px 3px 3px, rgb(0 0 0 / 20%) -5px 4px 16px inset;
}

#description {
  height: 10rem;
}

.image {
  width: 200px;
}
